.light .slidev-layout {
  a {
    color: inherit;
  }
}

.slidev-page .slidev-layout {
  p,
  a,
  li {
    @apply text-2xl;
  }

  li {
    @apply leading-relaxed;
  }

  &.new-section {
    @apply flex flex-col items-center justify-center;
    h1 {
      @apply text-5xl;
    }
  }
}

.slidev-layout .slidev-code-wrapper {
  @apply !max-w-full;
}

.footnotes-sep {
  display: none;
}

.footnote-ref a {
  @apply !text-base border-none;
}

.footnotes {
  @apply fixed bottom-0 left-14;

  p,
  li,
  a {
    @apply !text-base;
  }

  .footnote-backref {
    @apply hidden;
  }
}

blockquote {
  @apply !border-l-4 !rounded-l-none !text-gray-600 !px-4 !py-2;

  blockquote {
    @apply !mt-2;
  }
}

img[src="https://koki.me/profile.png"]
{
  background-color: white;
}

.intro {
  @apply pl-30;
  h1,
  p {
    @apply text-left;
  }
}
